<h3>Edit a restaurant</h3>

<div class= "container">
  <div class="row">
    <div class="col-6 offset-3">
        <%= simple_form_for(@restaurant) do |f| %>
          <%= f.input :name %>
          <%= f.input :category, collection: Restaurant::CATEGORIES %>
          <%= f.input :address %>
          <%= f.input :phone_number %>
          <%= f.submit class: "btn btn-primary" %>
        <% end %>
    </div>
  </div>
</div>
